<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic Achievements</h2>
                <div class="item">
                    <span class="project-title">BSc(Hons). in Engineering 2014-Present</span>  </br>
                    <span class="project-tagline"></span>
                        <ul>
                            <li>Specialized in Computer Science and Engineering</li>
                            <li>University of Moratuwa, Sri Lanka</li>
                            <li>Current GradePointAverage : 4.0747 out of 4.2</li>
                            <li>Dean's list in Semesters 2,3,4,5</li>
                        </ul>
                </div>

                <div class="item">
                    <span class="project-title">GCE Advanced Level Examination, Sri Lanka - 2012</span>  </br>
                    <span class="project-tagline"></span>
                    <ul>
                        <li>in Physical Stream</li>
                        <li>Combined Maths: A, Physics: A, Chemistry: A</li>
                        <li>Z-score : 2.4734</li>
                        <li>79th from Country</li>
                        <li>School: Sujatha Vidyalaya, Matara</li>
                    </ul>
                </div>

                <div class="item">
                    <span class="project-title">GCE Ordinary Level Examination, Sri Lanka - 2009</span>  </br>
                    <span class="project-tagline"></span>
                    <ul>
                        <li>9 Excellenet Passes</li>
                        <li>18th from the Country</li>
                        <li>School: Sujatha Vidyalaya, Matara</li>
                    </ul>
                </div>

            </section><!--//section-->

