<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">July 2016 - December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">hSenidMobile Solutions, Sri Lanka</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Having a training for 23 weeks at hSenidMobile, I was exposed to industrial practices and gained a vast knowledge and training on diversed set of skills required by the industry. I mainly engaged in Java based development and intelliJ IDEA was used as the IDE.I got the opportunity to learn and work with research and development while improving soft skills like presentation and communication skills as well. The development environment was Linux platform and GitLab was used for Git repository management in collaboration.</p>
                        <p>First research project was on adapting Elastic stack to products at hSenidMobile where I learnt about whole Elastic stack, its structure, how to use and rest API design.I got the opportunity to work as a team for creating an application development platform using springboot micro framework. I was exposed to rest api design concepts and best practices, spring, hibernate, postgreSQL,junit testing, using FCM push notifications, android development, javascript, basics of Disruptor and Netty.</p>
                        <p>Mr. Isuru Wijesinghe being my supervisor instructed me on coding best practices and how to align with new technologies.</p>
                    </div><!--//details-->
                </div><!--//item-->
                


            </section><!--//section-->