<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>My main expertise deals with Java development. Yet, I have worked on several other technologies as well. This is a brief description on some of the projects I have worked with</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/GimhaniU/GarmentFactory.git">Garment factory management system</a></span> - <span class="project-tagline">A Java based application for a traditional clothing factory to facilitate employee management, stock management and production progress reporting.Technologies: Java, MySQL, jasper reports</span>

                </div>
                <div class="item">
                    <span class="project-title"><a href="https://github.com/GimhaniU/GarmentFactory.git">Grade 1 admission system for schools under Ministry of Education(Sample)</a></span> - <span class="project-tagline">Web based application  to collect details of student applicants and automate the tasks of recognising the relevant school for each student.
                        Technologies used: PHP(Laravel), MySQL, Javascript,CSS(Bootstrap</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Nuwantha/LandAdministrationSystem.git" target="_blank">Land Administration system</a></span> -
                    <span class="project-tagline">A complete networked application for land branch of a Divisional Secretariat office.Technologies used: Java RMI, MySQL</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Nuwantha/BusRouteDetector.git">Bus Route Guide App</a></span> - <span class="project-tagline">A simple application to search for different bus routes  from a given 2 end points. Technologies used: Java, MySQL</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/GimhaniU/TankGame.git">Tank client- Combat coders</a></span> - <span class="project-tagline">Creating the GUI and AI for a tank client to play with the given server implementation(multi-player platform).Technologies used: Java, Slick 2d game library </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/GimhaniU/DrivingSchoolManagementSystem.git">Driving school management system</a></span> - <span class="project-tagline">A complete desktop application for a driving school to manage students, instructors and payments. Technologies used : Java, MySQL,Jasper reports </span>
                </div><!--//item-->
            </section><!--//section-->

